<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="brand">
            <h2 style="color: #f0f0f0;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TrackTime</h2>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('get_signup_page') }}">Sign Up</a></li>
                <li><a href="{{ url_for('get_login_page') }}">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero-image" style="background-image: url('/static/img/i11.jpg');">
            <div class="hero-content">
                <h1>Welcome to the To-do App</h1>
                <p>Your ultimate task management solution for boosting productivity and staying organized.</p>
                <a href="{{ url_for('get_signup_page') }}" class="cta-button">Get Started</a>
            </div>
        </div>
        <section class="about">
            <div class="container">
                <h2 class="section-title">About Our Task Management App</h2>
                <div class="about-content">
                    <div class="about-text">
                        <p>Welcome to the TrackTime Task Management App, your ultimate solution for staying organized and boosting productivity. Our app is designed with simplicity and efficiency in mind, empowering you to take control of your tasks, priorities, and deadlines.</p>
                        <p>Whether you're a professional looking to streamline your work or a student managing assignments, TrackTime has you covered. With intuitive features and a user-friendly interface, you can stay on top of your to-do list and accomplish more each day.</p>
                    </div>
                    <div class="about-icons">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-clock"></i>
                        <i class="fas fa-calendar-alt"></i>
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="space-theme">
            <h1 class="section__title">
                Explore the Galaxy of Tasks
                <span>Stay Organized and Reach for the Stars</span>
            </h1>
            <br>
            <div class="features">
                <div class="feature feature-one">
                    <i class="fas fa-tasks feature__icon"></i>
                    <h2 class="feature__title">Task Management</h2>
                    <p class="feature__desc">Effortlessly create, update, and delete tasks for better organization.</p>
                </div>
                <div class="feature feature-two">
                    <i class="fas fa-desktop feature__icon"></i>
                    <h2 class="feature__title">User Interface</h2>
                    <p class="feature__desc">Intuitive user interface for easy navigation and task management.</p>
                </div>
                <div class="feature feature-three">
                    <i class="fas fa-user-lock feature__icon"></i>
                    <h2 class="feature__title">Login System</h2>
                    <p class="feature__desc">Secure login system to access your tasks from anywhere.</p>
                </div>
                <div class="feature feature-four">
                    <i class="fas fa-list-ul feature__icon"></i>
                    <h2 class="feature__title">Task Lists</h2>
                    <p class="feature__desc">Organize your tasks into lists for better task management.</p>
                </div>
            </div>
        </section>

        <section class="productivity">
            <div class="container">
                <div class="productivity-content">
                    <h2>Boost Your Productivity</h2>
                    <p>Our app is your all-in-one solution for staying organized, meeting deadlines, and achieving your goals. Join our community of productive individuals today!</p>
                    <a href="{{ url_for('get_signup_page') }}" class="cta-button">Sign Up Now</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p class="footer-text">&copy; 2023</p>
            <p class="footer-text">MIT License</p>
            <p class="footer-text">Developed with ❤️ by Geethan Developer</p>
        </div>
    </footer>
</body>
</html>
